
@font-face{
	font-family: "Tiillium Web";
    src: url("2030/Fonts/TitilliumWeb-Bold.ttf");
	
	font-family: "Titillium Web";
    src: url("2030/Fonts/TitilliumWeb-Regular.ttf");
	
	font-family: "Titillium Web";
    src: url("2030/Fonts/TitilliumWeb-Italic.ttf");
	
	font-family: "Titillium Web";
    src: url("2030/Fonts/TitilliumWeb-SemiBold.ttf");
	
	}
  

.article_container{font-family:"Titillium Web";
	font-weight: bold; 
	color:#000000;
	text-align:left;
	padding-top:20px;
	padding-right:10px;
	padding-left:10px;
	color:#FFFFFF;
	text-align:left;
	background-color:#C997C3;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	}

.plaintext{font-family:"Titillium Web";
	font-weight: normal;
	font-size:18pt;
	color:#000000;
	text-align:left;
	background-color:#C997C3;
}

h2{font-family:"Tiillium Web";
font-weight: bold; 
color:#000000;
}

h3{color:#000000;}

.title{font-family:"Titillium Web";
font-weight:bold;
font-size:40pt;
text-align:left;
color:#000000;
letter-spacing: 2pt;}
.other_letters{font-size:13.5pt;}
.subtitle{font-family:"Titillium Web";
font-size:30pt;
text-align:left;}

.byline{font-family:"Titillium Web";
font-weight: normal;
font-size:16pt;
text-align:left;
margin-top: 50px;
margin-bottom: 50px;}
.publication_date{font-family:"Titillium Web";
font-weight: normal;
font-size:16pt;
text-align:center;
margin-top: 50px;
margin-bottom: 50px;
text-align:left;}

.introduction{font-family:"Titillium Web";
font-weight: normal;
font-size:14pt;
color:#142740;
background-color:#F29F05;
padding-top:10pt;
padding-bottom:10pt;
padding-right:10pt;
padding-left:10pt;
text-align:justify;}


.editor_note{text-align:left;}
.bio{text-align:left;}
.copy{text-align:left;
font-style:italic;}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
figcaption{font-family:"Titillium Web";
font-style: normal;
padding:10px;
text-align:left;}
.credit{font-style:italic;
}

table{font-family:"Titillium Web"
font-weight: normal;
font-size: 10.5pt;
border-collapse: collapse;
text-align: center;
}
table th, table td:first-child {
background: #706DA8;
color: white;
padding: 7.5pt 15pt;
}
table th, table td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
table td {
background: #505D8C;
}

.table-caption{font-family:"Titillium Web";
}

th, td {
  text-align: left;
  padding: 8px;
}

a:link { 
color:#0066cc
}
a:visited {
color:#551a8b
}
a:hover{
color:#003366
}

.youtube-container { 
display: block; 
margin: 20px auto; 
width: 100%; 
max-width: 600px; 
}

.youtube-player { 
display: block; 
width: 100%;  
padding-bottom: 56.25%; 
overflow: hidden; 
position: relative; 
width: 100%; 
height: 100%; 
cursor: hand; 
cursor: pointer; 
display: block; 
}

img.youtube-thumb { 
bottom: 0; 
display: block; 
left: 0; 
margin: auto; 
max-width: 100%; 
width: 100%; 
position: absolute; 
right: 0; 
top: 0; 
height: auto 
}

div.play-button { 
height: 72px; 
width: 72px; 
left: 50%; 
top: 50%; 
margin-left: -36px; 
margin-top: -36px; 
position: absolute; 
}

#youtube-iframe { 
width: 100%; 
height: 100%; 
position: absolute; 
top: 0; 
left: 0; 
}

blockquote{font-style:italic;}


