
@font-face{font-family: 'cubismo_mac';
    src: url('font/cubismo_mac.ttf');}

@font-face{font-family: "Bric-aBraqueNF";
    src: url('font/Bric-aBraqueNF.otf');}

@font-face{font-family: "Quicksand_Light";
    src: url('font/Quicksand_Light.otf');}

@font-face{font-family: "Quicksand_Book";
    src: url('font/Quicksand_Book.otf');}

@font-face{font-family: "Quicksand_Light_Oblique";
    src: url('font/Quicksand_Light_Oblique.otf');}

@font-face{font-family: "Quicksand_Bold";
    src: url('font/Quicksand_Bold.otf');}   

@font-face{font-family: "Quicksand_Bold_Oblique";
    src: url('font/Quicksand_Bold_Oblique.otf');}     



.article_container{font-family:"Quicksand_Book";
color:#2d2523;
text-align: justify;
background-image:url("images/cubismo_template.jpg");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding-top:10px;
padding-right:5px;
padding-left:5px;
max-height:700px;
overflow-y:scroll;
width: 100%;
margin: auto;}

.plaintext{font-family:"Quicksand_Book";
font-size:12pt;
color:black;
text-align:justify;}

h2{font-family:"Quicksand_Bold";
color:#2d2523;
}

h3{font-family:"Quicksand_Bold";
color:#2d2523;}

.title{font-family:"Bric-aBraqueNF";
font-size:30pt;
text-align:center;
color:#7e776d;
letter-spacing: 3px;}
.initial_letter{font-family: 'Bric-aBraqueNF';
font-size:50pt;}
.other_letters{font-size:18pt;}
.subtitle{font-family:"Quicksand_Bold";
font-size:18pt;
text-align:center;}

.byline{font-family:"Quicksand_Bold_Oblique";
font-size:16pt;
text-align:center;
margin-top: 50px;
margin-bottom: 50px;}
.publication_date{font-size:16pt;
text-align:center;
margin-top: 50px;
margin-bottom: 50px;
text-align:center;}

.introduction{font-family:"Quicksand_Bold";
font-size:14pt;
color:#2d2523;
background-color:#cbc8bb;
padding-top:10pt;
padding-bottom:10pt;
padding-right:10pt;
padding-left:10pt;
text-align:justify;}


.editor_note{text-align:justify;
font-size:10pt;}
.bio{text-align:justify;
font-size:10pt;}
.copy{text-align:center;
font-style:italic;}
footnotes{text-align:justify;
font-size:10pt;}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
figcaption{font-family:"Quicksand_Light_Oblique";
padding:10px;
text-align:center;}
.credit{font-style:italic;
font-size:10pt;}

table{border-collapse: collapse;
width: 100%;}

.table-caption{font-family:"Quicksand_Bold";
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: lightgrey}

th {
  background-color: #cbc8bb;
  color: #2d2523;

blockquote{font-style:italic;}


