
@font-face{font-family: 'OrnamentalInitial';
    src: url('font/OrnamentalInitial.ttf');}

@font-face{font-family: 'Aldine721Regular';
    src: url('font/Aldine721Regular.otf');}


.article_container{font-family:'Aldine721Regular';
color:#59433E;
background-image:url("images/1500.jpg");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding:10px;}


.plaintext{font-family:'Aldine721Regular';
font-size:12pt;
}

.title{color:#0D0000;}
.initial_letter{font-family:'OrnamentalInitial';
font-size:60pt;}
.other_letters{font-size:18pt;}
.subtitle{font-size:12pt;}

.byline{font-style:italic;}
.publication_date{font-size:10pt;}


.editor_note{text-align:center;}
.bio{text-align:center;}
.copy{text-align:center;
font-style:italic;}

figure img{box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
width:500px;
border-radius:4px;
margin-left:15%;}
figcaption{font-size:10pt;
text-align:center;}
.credit{font-style:italic;}

table{border:none;}
table td{border:solid 1px lightgrey;
padding:2px;}

blockquote{font-style:italic;}
